<h1>List of Pets</h1>
<a class="btn btn-link link" href="/pets/new">Add a Pet</a>
<br>
<div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 row-cols-xxl-4 g-4">
    {{#each petList}}
    <div class="col">
        <div class="card" style="width: 18rem;">
            <img src="{{imgUrl}}" class="card-img-top" alt="{{name}}">
            <div class="card-body">
                <h5 class="card-title">{{name}}</h5>
                <p class="card-text">{{name}} is a {{species}}</p>
                <form action="/pets/delete/{{petId}}" method="post">
                    <a class="btn btn-link link" href="/pets/{{petId}}">View Details</a>
                    <a class="btn btn-link link" href="/pets/edit/{{petId}}">Edit Details</a>
                    <br>
                    <button type="submit" class="btn btn-link link">Delete</button>
                </form>
            </div>
        </div>
    </div>
    {{/each}}
</div>